// base
@use 'base/variables';
@use 'base/fonts';
@use 'base/reset';

@layer base {
  body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-family-base);
  }
}
